@keyframes from-left {
	0% {
		opacity: 0;
		transform: translateX(-5%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.main {
	display: grid;
	grid-template-rows: auto auto;
	padding: 1rem 0;
	width: 95%;
	margin: 7rem auto 0 auto;
	max-width: 150rem;
}

.summary {
	text-align: center;
	padding: 2rem;
	border-bottom: 0.1rem solid var(--gray);
	margin-bottom: 2rem;
}

.books {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
	align-items: center;
	grid-auto-flow: row dense;
	// gap: 1rem;
}

@for $i from 0 through 17 {
	.book_#{$i} {
		margin: 1rem;
		animation: from-left
			2s
			cubic-bezier(0, 1, 0, 1)
			#{$i/10 +
			0s}
			normal
			backwards;
	}
}

.cover {
	width: 100%;
}
