@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/quicksand/quicksand-v21-latin-300.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/quicksand/quicksand-v21-latin-300.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/quicksand/quicksand-v21-latin-300.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/fonts/quicksand/quicksand-v21-latin-300.woff") format("woff"),
		/* Modern Browsers */ url("/fonts/quicksand/quicksand-v21-latin-300.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/quicksand/quicksand-v21-latin-300.svg#Quicksand")
			format("svg"); /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/quicksand/quicksand-v21-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/quicksand/quicksand-v21-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/quicksand/quicksand-v21-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/fonts/quicksand/quicksand-v21-latin-regular.woff") format("woff"),
		/* Modern Browsers */
			url("/fonts/quicksand/quicksand-v21-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/quicksand/quicksand-v21-latin-regular.svg#Quicksand")
			format("svg"); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/quicksand/quicksand-v21-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/quicksand/quicksand-v21-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/quicksand/quicksand-v21-latin-700.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/fonts/quicksand/quicksand-v21-latin-700.woff") format("woff"),
		/* Modern Browsers */ url("/fonts/quicksand/quicksand-v21-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/quicksand/quicksand-v21-latin-700.svg#Quicksand")
			format("svg"); /* Legacy iOS */
}

:root {
	--black: #1c1c1c;
	--gray1: #363636;
	--gray: #363636;

	--white1: white;
	--white: #f2f2f2;

	--green1: #00d169;
	--green: #00b259;
	--green2: rgba(10, 209, 13, 0.4);

	--orange: #d08b01;
	--orange2: #ff9d00;

	--blue4: #d4dcff;
	--blue1: #757cff;
	--blue2: #1026c9;
	--blue: #405afe;
	--blue3: #000740;

	--indigo: #7028fe;

	--shadow: rgba(84, 84, 84, 0.2);
	--shadow1: rgba(84, 84, 84, 0.4);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

@media screen and (max-width: 1920px) {
	html {
		font-size: 66.406%; /*17/16* 62.5*/
	}
}

@media screen and (max-width: 1100px) {
	html {
		font-size: 62.5%; /*default browser font = 16px => convert to 10px [16 * 62.5%]*/
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 59.6%; /* 15/16 * 62.5 */
	}
}
@media screen and (max-width: 414px) {
	html {
		font-size: 54.68%; /* 14/16 * 62.5 */
	}
}

body {
	/* min-width: 100vw; */
	overflow-x: hidden;
	font-size: 1.7rem;
	line-height: 1.3;
	box-sizing: border-box;
	font-family: "Quicksand";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}
