/fonts/josefin/ :root {
	--black: #1c1c1c;
	--gray1: #363636;
	--gray: #363636;

	--white1: white;
	--white: #f2f2f2;

	--green1: #00d169;
	--green: #00b259;
	--green2: rgba(10, 209, 13, 0.4);

	--orange: #d08b01;
	--orange2: #ff9d00;

	--blue4: #d4dcff;
	--blue1: #757cff;
	--blue2: #1026c9;
	--blue: #405afe;
	--blue3: #000740;

	--indigo: #7028fe;

	--shadow: rgba(84, 84, 84, 0.2);
	--shadow1: rgba(84, 84, 84, 0.4);

	--red: #e31a00;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

@media screen and (max-width: 1920px) {
	html {
		font-size: 66.406%; /*17/16* 62.5*/
	}
}

@media screen and (max-width: 1100px) {
	html {
		font-size: 62.5%; /*default browser font = 16px => convert to 10px [16 * 62.5%]*/
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 59.6%; /* 15/16 * 62.5 */
	}
}
@media screen and (max-width: 414px) {
	html {
		font-size: 54.68%; /* 14/16 * 62.5 */
	}
}

body {
	/* min-width: 100vw; */
	overflow-x: hidden;
	font-size: 1.95rem;
	line-height: 1.3;
	box-sizing: border-box;
	font-family: "Josefin Sans";
	/* font-weight: 300; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 0.1rem solid var(--gray1);
	/* // outline: none; */
	-webkit-text-fill-color: var(--black);
	box-shadow: none;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}
